/* Laravel-compatible CSS for justicehire */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/home5.jpg'); /* Using asset helper for the image */
    background-size: cover;
    background-attachment: fixed;
}

.container {
    text-align: center;
    background: transparent;
    border-radius: 8px;
    margin-bottom: 20px;
}

.logo {
    width: 300px; /* Adjust based on your logo size */
    height: auto;
}

.site-name {
    font-size: 6em;
    margin: 5px 0;
}

.site-name span {
    color: #d1ae6c;
}

.description {
    font-size: 1.5em;
    color: #666; /* Gray color for description */
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
}

.btn-1 {
    display: inline-block;
    font-size: 1em;
    color: #fff !important;
    background-color: #333 !important;
    padding: 20px;
    border-radius: 10px !important;
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.btn-2 {
    display: inline-block;
    font-size: 1em;
    color: #000 !important;
    background-color: #d1ae6c !important;
    padding: 20px;
    border-radius: 10px !important;
    text-decoration: none;
    width: 100px;
    height: 40px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.btn-1:hover {
    background: #d1ae6c !important;
    color: #fff !important;
}
